# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;database=essentialmode;userid=root;"
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

#Priority
ensure guidehud
ensure vMenu
ensure SEM_InteractionMenu
#ensure EasyAdmin
ensure AddOnVehSpawn
ensure VehicleExtraMenu
ensure JD_vehWhitelist

ensure mysql-async
ensure essentialmode
ensure fxmigrant
ensure esplugin_mysql
ensure es_extended

ensure esx_datastore
ensure esx_license

#Phone
ensure mumble-voip
ensure gcphone
ensure ls-radio

#EUP
ensure NativeUI
ensure eup-stream
ensure eup-ui

#Discord
ensure Badger_Discord_API
ensure Guardian
ensure DiscordAcePerms
ensure DiscordVehicleWhitelist
ensure JD_logs
ensure RichPresence
ensure 911
ensure DiscordVehicleWhitelist

#HUD
ensure Area-of-Patrol
ensure carhud
ensure cooldown
ensure Posted-Speedlimit
ensure nearestpostal
ensure streetLabel

#New Files
ensure XMASMega
ensure ghillie

#Maps
ensure PolyZone
ensure bob74_ipl
ensure Flywheels
ensure paletomedical
ensure patochepaleto
ensure sandymedicalv2
ensure fd_maps
ensure int_yellowjack
ensure paletopd
ensure sandysheriff
ensure HayesGarage
ensure map_anonymous
ensure submarinepatoche
ensure Larrys
ensure Gas-station-grapeseed-east
ensure theshack
ensure FlyWheelsBillboard
ensure Forest
ensure ForestsGenerators
ensure savethepumps
ensure buildingdestroy
ensure burgerUPDATE
ensure cc_irishpub
ensure ccfarmhouse
ensure mosleynutt
ensure secretbiker
ensure brownprison

#Scripts
ensure iis_bwv
ensure iis_k9policer
ensure afkkick
ensure Better-Torch
ensure Blankys_Log_System
ensure Radiant_Animations
ensure BlaineCountySignals
ensure CarryPeople
ensure ChairBedSystem
ensure K9
ensure ebu_rook
ensure Seatbelt
ensure chatensure crouch
ensure cuff-plus
ensure disabledispatch
ensure dpemotes
ensure guy293_holsterweapon
ensure Badger_Tackle
ensure inferno-vehicle-attachment
ensure drag
ensure frfuelplus
ensure fax-revive
ensure BadgerAOPVote
ensure BadgerBankRobbery
ensure lux_vehcontrol
ensure silentalarm
ensure slashtires
ensure wk_delveh
ensure wk_wars2x
ensure FireScript
ensure handsup
ensure huk
ensure hyperz-calmwater
ensure hyperz-hidecmds
ensure hyperz-noplayerblips
ensure hyperz-pause
ensure hyperz-postalmap
ensure hyperz-taserlimit
ensure interactsound
ensure InteractTeleport
ensure MedicHealth
ensure MedicHealthFloor2
ensure MedicHealthPaleto
ensure MedicHealthSandy
ensure NeverWanted
ensure NoReticle
ensure NoRewards
ensure pedDensity
ensure PiggyBack
ensure pNotify
ensure RealisticVehicleFailure
ensure rpchat
ensure savewheelpos
ensure saw-csharp
ensure seatShuffle
ensure TakeHostage
ensure Universal-Commands
ensure vehiclecmds
ensure syn_injury
ensure heli

#Weapons
ensure ak47
ensure baton
ensure bewaredog
ensure bettersniper
ensure brick
ensure glock
ensure grenadelauncher_lesslethal
ensure Judge410
ensure m4a1
ensure makarov
ensure mossberg590
ensure newfragrenade
ensure sawedoff
ensure taser
esnure mac10
ensure mp5

#Cars
ensure 454
ensure 3500flatbed
ensure pungatruck
ensure dcerberus
ensure snowbike
ensure algoblazer6
ensure as332
ensure classicpatriot
ensure dh6300
ensure swathummer
ensure rookcab
ensure rooktrailer
ensure rook
ensure 909_ch53
ensure 200504
ensure bug300ss
ensure HDIron883
ensure por718gt4
ensure rmodmi8lb
ensure VNL780
ensure Y1700MAX
ensure revent
ensure eheli
ensure can
ensure cocacolatruck
ensure 19GT500
ensure gmcsav04
ensure Gtow
ensure 2020Tahoe
ensure candimodstrailer
ensure Durastar
ensure ambo
ensure fdnyambo
ensure fdsilv
ensure Ferrara
ensure Kodiak
ensure Md902
ensure Spartan
ensure usground
ensure STO
ensure gtr
ensure 00f350d
ensure Nissan97
ensure 19ambo
ensure wheelchair
ensure yournanscar
ensure marabuntagrandehouse
ensure denali18
ensure firehawk
ensure explorer20
ensure f35019
ensure journey
ensure 19fire1
ensure ram1500
ensure rapger19
ensure engine1
ensure silverado
ensure sl1500
ensure trx
ensure uparmorhmvdes
ensure 96impala
ensure 737max9
ensure 1997gmc
ensure 737600
ensure demonboi
ensure ec17silv
ensure 737900er
ensure ah64d
ensure impalal
ensure lifted86k10
ensure rampj
ensure sierra88
ensure stanier5
ensure 2ndgendually
ensure zl12017
ensure BCSO
ensure bearcat
ensure code3-pack
ensure challenger15
ensure swat-charger
ensure swat-tahoe
ensure 20fttrailer
ensure 21bronco
ensure at420
ensure barracks4
ensure cateyedually
ensure checap17
ensure checol17
ensure cotrailer
ensure rapsnow
ensure Sturdy2
ensure k5blazer
ensure wagoneer91
ensure RAM99
ensure slam4x4
ensure umkscout
ensure 2008Suburban
ensure rescue
ensure 69camaro
ensure 2020silveradosingle
ensure b1900
ensure f350max
ensure honda213
ensure hvytowtruck
ensure nissanaltima
ensure silverado1500ltz
ensure skyline
ensure typer
ensure shonecloude
ensure cesnna
ensure patriothawk
ensure sheriff
ensure Gruppe6
ensure crj700
ensure airtug
ensure tillertrailer
ensure velocitytiller

#Other
ensure K9_ped
ensure CalmAI
ensure gd_airport_ai_begone
ensure PoliceVehiclesWeaponDeleter
ensure Cayo_Perico_UpdatedV3
ensure aircraftsounds

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "yournan"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "Hyperz, Roleplay, NonESX, vMenu, Cops, Discord, Base, Github"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-US" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "here"
sets banner_connecting "https://i.imgur.com/a8Fm4XU.png"

# Set your server's hostname
sv_hostname "Hyperz FiveM Server Base 2021"

# Nested configs!
exec permissions.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace Fax.AOP faxes.aopcmds allow
add_ace resource.DiscordAcePerms command.add_principal allow
add_ace resource.DiscordAcePerms command.remove_principal allow

add_ace group.admin BadgerEssentials.Command.StartVote allow
add_ace group.staff BadgerEssentials.Command.StartVote allow
add_ace group.staff2 BadgerEssentials.Command.StartVote allow
add_ace group.staff3 BadgerEssentials.Command.StartVote allow

setr ea_LanguageName "en"                # set our language to english
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "https://discord.com/api/webhooks/786278740962836500/2aP7PqSdL9W3tmNdOxiOb_bqo7on8WUmQF8hVRWxu7HOLw31giCU7M9-jUBIafmw0IM5"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true" # enables "calladmin" command via webhook
add_principal identifier.steam:11000013cb0ae1b group.admin
set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos
add_ace group.admin easyadmin allow
add_ace group.staff easyadmin allow

# Hide player endpoints in external log output.
sv_endpointprivacy true

# OneSync is NEEDED for Voice Chat
onesync_enabled true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "YOUR-WEB-API-KEY-REQUIRED"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "YOUR-FIVEM-PATREON-KEY-REQUIRED"